@import '../config/estilo.scss';


.hero {
    width: 100%;
    padding-bottom: 2rem;
    background-color: $preto;
    color: $branco;
    .pularNavegação{
        position: absolute;
        left: -999px;
        opacity: 0;
    }
    .scrool-down {
        text-align: center;
        font-size: 1.4rem;
        margin-top: .5rem;

        .icon {
            font-size: 1.4rem;
            animation: flexinha 1.5s ease-in-out 0s infinite;
            background: -webkit-linear-gradient($azul, $azul-claro);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .hero-detalhes {
        width: 50%;
        padding: 3rem 2rem;

        .titulo-animado {
            font-size: 6rem;
            word-spacing: 1rem;
            text-align: center;
            padding-bottom: 1rem;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                border-left: .5rem solid $azul-claro;
                width: 100%;
                height: 100%;
                display: block;
                animation: digitacao 1.5s steps(17) forwards, piscar 1s 1.5s infinite;
                background-color: $preto;
            }
        }

        .profissao {
            font-size: 1.5rem;
            line-height: 3rem;
            padding-left: 0;
            padding-bottom: 2rem;
            text-align: center;
        }

        .saudacao {
            padding-top: 2rem;
            text-align: center;
        }

        .conteiner-botao {
            display: flex;
            justify-content: space-evenly;

            z-index: 5;
        }
    }


    @media screen and (max-width: 1500px) {
        .scrool-down{
            margin-top: 0;
        }
        .hero-detalhes{
            .saudacao{
                padding-top: .5rem;
            }
            .profissao{
                padding-bottom: 1rem;
            }
            
        }
    }

    @media screen and (max-width: 1195px) {
        .hero-detalhes {
            width: 100%;
        }
    }

    @media screen and (max-width: 610px) {
        .hero-detalhes {
            padding: .5rem;
        }

        .scrool-down{
            padding-top: 2rem;
        }
    }

    

    @media screen and (max-width: 372px) {
        .hero-detalhes {    
            .titulo-animado {
                font-size: 5rem;
                
            }

            .saudacao {
                line-height: 3rem;
            }
        }
    }

    @media screen and (max-width: 560px) {
        .scrool-down{
            display: none;
        }
    }

}



@keyframes flexinha {
    from {
        transform: translateY(-.3rem);
        opacity: 1;
    }

    to {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@keyframes digitacao {
    100% {
        left: 100%;
        margin: 0 -1rem 0 -1rem;
    }
}

@keyframes piscar {
    to {
        opacity: 1;
    }

    from {
        opacity: 0;
    }
}