@import '../config/estilo.scss';

.botao-vazado {
    background: transparent;
    color: $azul-claro;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
    border: .3rem solid $azul-claro;
    border-radius: 1rem;
    cursor: pointer;
    text-shadow: 0 0 1rem $azul, 0 0 1rem $azul-claro;
    box-shadow: 0 0 .5rem $azul;
    text-decoration: none;
    transition: .5s;
    &:hover {
        text-shadow: 0 0 2rem $azul, 0 0 2rem $azul-claro;
        box-shadow: 0 0 2rem $azul;
        transition: .5s;
    }
}