$branco: #FFFFFFFF;
$preto: #111213ff;
$preto2: #000000;
$cinza: #a1a1a1ff;
$cinza2: #3e4144;
$azul: #2f71e8ff;
$azul-claro: #29b9f0ff;

.conteiner{
    padding: 3rem 4rem;
    box-sizing: border-box;
  }